name: Android Compiler

on:
  push:
    paths:
      - 'android/**'
  pull_request:
    paths:
      - 'android/**'
    
jobs:
  build:
    runs-on: windows-2016
    steps:
    - uses: actions/checkout@v2

    - name: Build 
      working-directory: ./android
      run: cmd /c compile.bat 

    - name: Sign 
      working-directory: ./android
      run: cmd /c sign.bat   
      
    - name: Upload androapk
      uses: actions/upload-artifact@v1.0.0
      with:
       name: andro_release
       path: "android/app/build/outputs/apk/release/anti_vm.apk"
